<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="../static/jquery-3.3.1.min.js"></script>

    <title>Title</title>
</head>
<body>


这是首页！！！

<a href="sss">下个页面</a>


<center>
    <h1>
        <a href="/upload">查看文件列表</a>
    </h1>
    <form id="uploadForm" enctype="multipart/form-data">
        <input id="file" type="file" name="file"/>
        <button id="upload" type="button">上传</button>
    </form>
</center>

<script>
    $('#upload').click(function () {
        $.ajax({
            url: 'v1/upload',
            type: 'POST',
            cache: false,
            data: new FormData($('#uploadForm')[0]),
            processData: false,
            contentType: false
        }).done(function (res) {
            console.log(res);
            if(res.success){
                alert('上传成功.');
                window.location.href = '/upload/';
            } else {
                alert(res.msg || '上传失败');
            }
        }).fail(function (res) {

        });
    });
</script>

<!--<script>-->

    <!--$(function () {-->

        <!--/**-->
         <!--* 这是定义好的数据-->
         <!--* @type {{token: string, list: *[], userNumber: number}}-->
         <!--*/-->
        <!--var data = {-->

                <!--token:"xcxcx",-->
                <!--list:[-->
                    <!--{-->
                        <!--commodityNumber: 1,-->
                        <!--count: 2-->
                    <!--},-->
                    <!--{-->
                        <!--commodityNumber: 2,-->
                        <!--count: 2-->
                    <!--}-->
                <!--],-->
                <!--userNumber: 1-->

        <!--};-->


        <!--console.log(data);-->

        <!--$.ajax({-->
            <!--type: 'get',-->
            <!--url: 'http://127.0.0.1:9000/v1/create-order',-->
            <!--data:{orderData:JSON.stringify(data)},-->
            <!--async: true,-->
            <!--dataType: 'text',-->
            <!--success: function (data) {-->
                <!--alert(data)-->
            <!--},-->
            <!--error: function (response) {-->
                <!--alert("error");-->
            <!--}-->
        <!--});-->


    <!--})-->

<!--</script>-->


</body>
</html>