<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../static/jquery-3.3.1.min.js"></script>
</head>
<body>

这是第二个页面

<script>

    $(function(){

        $.ajax({
            type:'get',
            url:'http://127.0.0.1:9000/v1/slowlife/search-by-keyword',
            data:{keyword:"苹果"},
            async:true,
            dataType:'text',
            success:function(data){
                alert(data)

            },
            error:function(response){ alert("error"); }
        });


    })

</script>


</body>
</html>